# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist
/.next

# misc
.DS_Store
.env
.env2
.env.prod
npm-debug.log*
yarn-debug.log*
yarn-error.log*

next-config.js
store_ar
modals_ar
ar
ar2


static/assets/notification.mp3
